// ===========================================================================================
// [UI KIT] 팝업 스타일 선언
// ===========================================================================================
$popup-s-padding : 10px
$popup-m-padding : 15px
$popup-header-height: 50px
$popup-header-bgcolor: $point-green
$popup-box-width-default: 500px
$popup-box-heigh-default: auto
$popup-box-width: 500px
$popup-box-hight: 340px
$popup-btn-box: 44px