// ===========================================================================================
// [Typography] 타이포그라피 정의
// ===========================================================================================
// rem 단위 계산을 위한 브라우저 기본 사이즈 리셋
$html-fz: 10px

// 제목 폰트 사이즈
$h1-fz: 32px
$h2-fz: 28px
$h3-fz: 24px
$h4-fz: 20px
$h5-fz: 18px
$h6-fz: 16px

// 본문(paragraph) 사이즈
$ph-fz: 16px

// 본문 행간(line height) 비율
$fz-scale: 1.5

// 본문 기준 베이스라인(baseline)
$baseline: 10px

// ===========================================================================================
// [Web Fonts] 폰트 설정 / 경로(Root) 설정
// ===========================================================================================
// 웹 폰트 - 본고딕(NotoSansKR) 기본 설정
$web-fonts: "Noto Sans KR", Arial, "맑은 고딕", "malgun gothic", Roboto, AppleSDGothicNeo, sans-serif

// 웹 폰트 - Noto Sans KR
$noto-font-path: "../fonts/NotoSansKR"

// 웹 폰트 - Fontawesome
$fa-font-path: "../fonts/Fontawesome"