/* ======================================================================================== */
/* [ Version      ] common.css v0.1.0 © geulrara.design
/* [ Author       ] 정인영
/* [ Inquiry      ] geulrara-design@naver.com
/* [ Date Updated ] 2020.11.25
/* ======================================================================================== */

// ===========================================================================================
// [Framework] 공통 정의
// ===========================================================================================
@import "function"
@import "variable"
@import "mixin"

// ===========================================================================================
// [Base] 기본 스타일
// ===========================================================================================
@import "base/webfonts"
@import "base/reset-css"
@import "base/skip-navigation"

// ===========================================================================================
// [UI Kit] 공통 UI 정의
// ===========================================================================================
@import "ui-kit"

// ===========================================================================================
// [Commnon] 미디어쿼리
// ===========================================================================================
+mobile
  .test
    width: 100px
  +retina (2)
    .retina-img
      background: url('../assets/img.png') no-repeat
      background-size: 100% auto

%app
  font-size: 12px

+tablet
  .test
    width: 200px

+desktop
  .test
    width: 300px